.sidebar {
  max-width: 290px;
  position: fixed;
  left: 50%;
  top: 84px;
  transform: translateX(calc(-50% + 322px));
  display: none;
  flex-direction: column;
}

.sidebar__profile {
  display: flex;
  align-items: center;
  margin: 20px 0 22px;
}

.sidebar__profile-img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-right: 12px;
  overflow: hidden;
  position: relative;
}

.sidebar__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  gap: 4px;
}

.username {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-dark);
  text-decoration: none;
  text-transform: lowercase;
  max-width: 180px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.nickname {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-light);
  max-width: 180px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.switch-link {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  color: #0093f5;
  text-decoration: none;
}

.sidebar__suggestions {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebar__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sidebar__header p {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-light);
}

.see-all {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  color: var(--text-dark);
}

.sidebar__suggestions {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 16px 0 24px;
  padding-left: 4px;
}

.suggestion__img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 12px;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
}

.suggestions-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex: 1;
  gap: 2px;
}

.username {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-dark);
  text-decoration: none;
  text-transform: lowercase;
  max-width: 180px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.username p:hover {
  text-decoration: underline;
}

.desc {
  font-size: 12px;
  font-weight: 400;
  color: var(--text-light);
  max-width: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.follow-link {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  color: #0093f5;
  flex-shrink: 0;
  text-decoration: none;
}

.footer-links {
  display: flex;
}

.footer-links li {
  margin: 0 8px;
}

.footer-links a,
a:hover {
  text-decoration: none;
  color: var(--text-dark);
}

.sidebar__footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sidebar__footer p {
  color: var(--text-light);
}


@media (min-width : 1124px) {
  .sidebar {
    display: flex;
  }
}